<app-navbar></app-navbar>
<!-- <app-productlist></app-productlist> 
<div class="container border border-primary pd-3">
    <div class="row ">
        <div class="col-sm-2">
            
        <h3>product</h3>
        <h3>Price</h3>
        <h3>quantity</h3>

        </div>
       
        
@for(item of servicesService.getItems(); track item.id){
   
          <div class="col-sm-2">
        <table>
            <tr>
                <td>
        <h3>{{item.name}}</h3>
    </td>
      <td>
        <p>{{item.price}}</p>
    </td>
<td>
        <p>{{item.quantity}}</p>
    </td>
    </tr>
        <button (click)="deleteFromCart(item)">Delete</button>
        <button (click)="servicesService.incrementQuantity(item.id)">+</button>
        <button (click)="servicesService.decrementQuantity(item.id)">-</button>
            
        </table>
    </div>
   
}


<div>
    <h1>Total:{{servicesService.getTotal()}}</h1>
</div>
</div>
</div>  -->
<ng-container>
   <div class="container">
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <th>Sr.No</th>
                    <th>product Name</th>
                    <th>Product Image</th>
                    <th>Price</th>
                    <th>quantity</th>
                    <th>Total</th>
                    <th>Action</th>
                </thead>
                <!-- <tbody>
                    <!-- <tr *ngFor="let products of product; let i=index">
                        <td>{{i+1}}</td>
                        <td>{{products.name}}</td>
                        <td><img style="width: 120px;" src="{{products.img}}" alt="img"></td>
                        <td>{{products.price}}</td>
                        <td>{{productQuantity}}</td>
                        <td>{{productQuantity* products.price}}</td>
                        <td>
                            <button (click)="removeItem(products)" class="btn btn-danger">delete</button></td>
                    </tr>
                    <tr>
                        <td colspan="3"></td>
                        <td><button (click)="emptycart()" class="btn btn-danger">Empty Cart</button></td>
                        <td><button routerLink="/product" class="btn btn-warning">Add Product</button></td>
                        <td><strong>Total: {{grandTotal}}</strong></td>
                        <td><button onclick="window.print()" class="btn btn-success">Print</button></td>
                    </tr> 
                </tbody> -->
            </table>
        </div>
    </div>  
   </div>

</ng-container>
