/* 
  hr {
    width: 100px;
    color: black;
  }

  /* Rotate the hr element by 45 degrees */
  /* hr.perpendicular {
    transform: rotate(90deg);
  }
  table, th, td {
    border:1px solid black;
  } */ 



  .cart-table{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: .25rem;
  }
  .center .btn{
    font-size: 14px;
    margin-top: 20px;
    font-weight: 400;
    padding: 12px 72px;
    border-radius: 3px;
  }